In [25]:
import pandas as pd

In [26]:
### Ranking 1 : The Most Funded
funding = pd.read_excel('C:/Users/moham/OneDrive/Bureau/Cours/M2 IMSD/Python/Projet/project_python_imsd-master/ranking_1.xlsx', header = 0)
### Ranking 2 : The most visited (alexaRank)
alexaRank = pd.read_excel('C:/Users/moham/OneDrive/Bureau/Cours/M2 IMSD/Python/Projet/project_python_imsd-master/ranking_2.xlsx', header = 0)
### Ranking 3 : The most popular (twitter followers)
twitterFollowers = pd.read_excel('C:/Users/moham/OneDrive/Bureau/Cours/M2 IMSD/Python/Projet/project_python_imsd-master/ranking_3.xlsx', header = 0)
### Ranking 4 : The Most Authoritative
domainAuthority = pd.read_excel('C:/Users/moham/OneDrive/Bureau/Cours/M2 IMSD/Python/Projet/project_python_imsd-master/ranking_4.xlsx', header = 0)
### Ranking 5 : The most liked (on facebook)
facebookLikes = pd.read_excel('C:/Users/moham/OneDrive/Bureau/Cours/M2 IMSD/Python/Projet/project_python_imsd-master/ranking_5.xlsx', header = 0)
### Ranking 6 : The Most Upvoted
huntVotes = pd.read_excel('C:/Users/moham/OneDrive/Bureau/Cours/M2 IMSD/Python/Projet/project_python_imsd-master/ranking_6.xlsx', header = 0)
### Ranking 7 : The Fastest Growing
growthScore = pd.read_excel('C:/Users/moham/OneDrive/Bureau/Cours/M2 IMSD/Python/Projet/project_python_imsd-master/ranking_7.xlsx', header = 0)
### Ranking 8 : The Most Prolific (number of statuses posted on company Twitter account)
tweetCount = pd.read_excel('C:/Users/moham/OneDrive/Bureau/Cours/M2 IMSD/Python/Projet/project_python_imsd-master/ranking_8.xlsx', header = 0)
### Ranking 9 : The Most Influential (LinkedIn followers)
linkedinFollowers = pd.read_excel('C:/Users/moham/OneDrive/Bureau/Cours/M2 IMSD/Python/Projet/project_python_imsd-master/ranking_9.xlsx', header = 0)
### Ranking 10 : The Most populous
employeesCount = pd.read_excel('C:/Users/moham/OneDrive/Bureau/Cours/M2 IMSD/Python/Projet/project_python_imsd-master/ranking_10.xlsx', header = 0)
### Ranking 11 : The Most Cashed Out
exitValue = pd.read_excel('C:/Users/moham/OneDrive/Bureau/Cours/M2 IMSD/Python/Projet/project_python_imsd-master/ranking_11.xlsx', header = 0)

In [27]:
funding.head()

,noms,batch,categories,descriptions,variable
0,Airbnb,W09,Consumer,Book accommodations around the world,"$6,000.3m"
1,Cruise,W14,Transport,Self-driving cars.,"$3,368.8m"
2,Instacart,S12,Consumer,Groceries delivered fast.,"$2,095.9m"
3,Dropbox,S07,Other SaaS,Backup and share files in the cloud.,"$2,057.2m"
4,DoorDash,S13,Consumer,Restaurant delivery.,"$2,000.0m"

In [28]:
funding.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 5 columns):
noms            100 non-null object
batch           100 non-null object
categories      100 non-null object
descriptions    100 non-null object
variable        100 non-null object
dtypes: object(5)
memory usage: 4.7+ KB

In [29]:
### Create a list with all the ranking datasets
rankings = [funding, alexaRank, twitterFollowers, domainAuthority, facebookLikes, huntVotes, growthScore, tweetCount, linkedinFollowers, employeesCount, exitValue]

In [ ]:
### On va travailler à la fois sur chaque dataframe séparément (pour avoir l'info du classement, combiner les dataframe
### deux à deux etc.) mais aussi sur l'ensemble. Je fusionne l'ensemble plus tard.

In [35]:
### Supprimer les $ et les m :
for dataset in [funding, exitValue]:
    dataset['variable'] = dataset['variable'].str[1:-1]

In [33]:
# Créer une fonction pour obtenir le nom du dataframe
def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name

In [36]:
# Enlever les virgules des milliers pour les colonnes qui en ont, et 
for dataset in rankings:
    if (dataset['variable'].dtype != 'int64') & (dataset['variable'].dtype != 'float64'):
        for count, value in enumerate(dataset['variable']):
            dataset.replace(dataset['variable'][count], value.replace(',', ''), inplace=True)
    else:
        print('La variable du dataframe ' + get_df_name(dataset) + ' est déjà sous une forme adaptée.')

La variable du dataframe domainAuthority est déjà sous une forme adaptée.

In [37]:
# Passer la variable d'intérêt d'objet à float.
for dataset in rankings:
    if (dataset['variable'].dtype != 'int64') & (dataset['variable'].dtype != 'float64'):
        for value in dataset['variable']:
            dataset = dataset.astype({'variable': 'float64'})

In [38]:
# Changer le nom de la variable d'intérêt de chaque dataframe.
for dataset in rankings:
    dataset.rename(columns={'variable': get_df_name(dataset)}, inplace=True)

In [40]:
from functools import reduce

In [45]:
# Combiner les dataframe en un gros réunissant tout
mergedRankings = reduce(lambda  left,right: pd.merge(left,right,on=['noms', 'batch', 'categories', 'descriptions'],
                                            how='outer'), rankings)

In [46]:
mergedRankings.head()

,noms,batch,categories,descriptions,funding,alexaRank,twitterFollowers,domainAuthority,facebookLikes,huntVotes,growthScore,tweetCount,linkedinFollowers,employeesCount,exitValue
0,Airbnb,W09,Consumer,Book accommodations around the world,6000.3,234,695116,91.0,8754088,NaN,600,39485,NaN,6100,NaN
1,Cruise,W14,Transport,Self-driving cars.,3368.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1770,1000.0
2,Instacart,S12,Consumer,Groceries delivered fast.,2095.9,4536,31175,71.0,84839,NaN,NaN,40930,NaN,800,NaN
3,Dropbox,S07,Other SaaS,Backup and share files in the cloud.,2057.2,79,4371622,95.0,1351489,NaN,NaN,NaN,NaN,3740,NaN
4,DoorDash,S13,Consumer,Restaurant delivery.,2000.0,1649,117922,73.0,54532,NaN,930,NaN,NaN,1700,NaN

In [48]:
### Plein de NaN values. Il semblerait qu'on ait pas toujours les 100 mêmes entreprises... 
### Ou alors, problème lors du merge qui a mis plusieurs lignes pour la même entreprise car parfois pas exactement le même nom pour la même startup ?

In [49]:
mergedRankings.nunique() ### On voit bien qu'il y a 499 noms différents. A voir si on a pas trop de trous pour faire des analyses.

noms                 499
batch                 28
categories            15
descriptions         499
funding               94
alexaRank            100
twitterFollowers     100
domainAuthority       32
facebookLikes        100
huntVotes             93
growthScore           84
tweetCount           100
linkedinFollowers     88
employeesCount        56
exitValue             38
dtype: int64

In [51]:
mergedRankings['noms'].unique()

array(['Airbnb', 'Cruise', 'Instacart', 'Dropbox', 'DoorDash', 'Flexport',
       'Stripe', 'Rappi', 'Zenefits', 'Coinbase', 'Reddit',
       'Ginkgo Bioworks', 'Machine Zone', 'LendUp', 'Docker',
       '1000Memories', 'Gusto', 'North', 'CoreOS', 'Segment',
       'Protocol Labs', 'Optimizely', 'Rigetti Computing', 'Airware',
       'PagerDuty', 'Checkr', 'Drivezy', 'GitLab', 'Amplitude', 'Boom',
       'Skip', 'PlanGrid', 'GoCardless', 'Kobo360', 'InfluxData',
       'MatterPort', 'Blockstack', 'MemSQL', 'Seneca Systems', 'uBiome',
       'Razorpay', 'Sift Science', 'Ridecell', 'People.ai', 'GOAT',
       'Memebox', 'Fivestars', 'Podium', 'GrubMarket', 'Rescale',
       'Tech in Asia', 'Front', 'Mixpanel', 'Atrium', 'Weave', 'Clever',
       'Algolia', 'WePay', 'Tilt', 'Meta', 'Lever', 'Grin',
       'Science Exchange', 'Soylent', 'Genius', 'Clustrix', 'SendBird',
       'ClearTax', 'Mattermost', 'Axoni', 'Zenflow', 'The Athletic',
       'Presto', 'Le Tote', 'Meesho', 'Homejoy', 'Verge Genomics',
       'ShipBob', 'Teespring', 'Songkick', 'Vidyard', 'MessageBird',
       'Boosted', 'Guesty', 'Pebble', 'EquipmentShare', 'HackerRank',
       'Gobble', 'Solugen', 'Tinker', 'Hipmunk', 'Rippling', 'Atomwise',
       'SmartAsset', 'Apollo', 'Mailgun', 'Standard Cognition',
       'Lambda School', 'Triplebyte', 'Scribd', 'Twitch', '9gag',
       'Weebly', 'Humble Bundle', 'Coub', 'Disqus', 'Font Awesome',
       'Padlet', 'Creative Market', 'Zapier', 'Codecademy',
       'Product Hunt', 'The Muse', 'Heroku', 'Wufoo', 'Zeplin', 'Repl.it',
       'Webflow', 'OneSignal', 'Loom', 'HelloSign', 'Strikingly',
       'Bitnami', 'PushBullet', 'WorkFlowy', 'BackerKit', 'Submittable',
       'Paystack', 'YourMechanic', 'Chartio', 'Caviar', 'Quero Education',
       'Ninite', 'Cambly', 'Platzi', 'UpLabs', 'Our World in Data',
       'OpenAI', 'Chatfuel', 'Expo', 'RescueTime', 'Thunkable', 'ACLU',
       'Substack', 'Octopart', 'StatusPage', 'Cratejoy', 'PadMapper',
       'WayUp', 'NewsBlur', 'Fountain', 'Cashfree', 'ReadMe',
       'Poll Everywhere', 'Streak', 'AirHelp', 'EasyPost', 'Flutterwave',
       'Groww', 'Soomgo', '7cups', 'Joy', 'Kamcord', 'Listia', 'Kickback',
       'Women Who Code', 'Hive', 'Nambii', 'Firebase', 'Parse',
       'Posterous', 'Quantstamp', 'NextDrop', 'Request Network',
       'CoinBundle', 'FREY', 'Heyzap', 'Future Advisor', 'Mattermark',
       'Scentbird', 'Thread', 'Restocks', 'Skymind', 'Greentoe',
       'Shoptiques', 'Recurse Center', 'GrepData', 'RethinkDB',
       'Socialcam', 'Her', 'OmniVirt', 'Realm', 'Impraise', 'Jopwell',
       'The Good Food Institute', 'Estimote', 'Petcube', 'Omgpop',
       'Flaviar', 'Priceonomics', 'Spaces Life', 'Authy', 'Olark',
       'Women.com', 'CodeCombat', 'Svbtle', 'Vote.org', 'Embedly',
       'LendEDU', 'Xobni', 'Casetext', 'Couple', 'Rapportive',
       'Automatic', 'Experiment', 'Click & Grow', 'Lockitron',
       'Bluesmart', 'Coin', 'Lanyrd', 'Spire', 'Loopt', 'Lynks',
       'Kalibrr', 'Bellabeat', 'Beek', 'Afrostream', 'Chaldal', 'L.',
       'Paribus', 'Releaf', 'SOUNDBOKS', 'Lumoid', 'Verbling',
       'Function of Beauty', 'Underground Cellar', 'Innov8', 'ShapeScale',
       'FarmLogs', 'VIDA & Co.', 'BloomThat', 'Goodybag', 'Virool',
       'Vayable', 'dahmakan', 'RentHop', 'Glio', 'Vanhawks', 'GetGoing',
       'Hush', 'FundersClub', 'Nebia', 'Talkray', 'Swiftype', 'Backpack',
       'Toymail', 'CrowdMed', 'VINEBOX', 'DrChrono', 'Instabug',
       'Wheelys Café', 'Station', 'Polymail', 'Lyrebird', 'Snappr',
       'Slite', 'Truebill', 'Scale', 'Final', 'Tetra', 'Elucify', 'Slik',
       'Breaker', 'Pixate', 'VoiceOps', 'Bonsai', 'FloydHub', 'Honeydue',
       'Glide', 'Standard Cyborg', 'Meetingbird', 'INKHUNTER',
       'Clara Labs', 'Spoil', 'Fabric', 'Deepgram', 'Plato', 'Daily.co',
       'Vanido', 'mojo', 'CoinTracker', 'Eight', 'SimpleCitizen',
       'Supernova', 'CodeStream', 'Scribe', 'Airship', 'PatientBank',
       'Flockjay', 'Brew.com', 'OpenPhone', 'Lattice', 'Wefunder',
       'Shift', 'PlateJoy', 'Flynn', 'GoGoGrandparent', 'Marketfox',
       'Handle.com', 'Airfordable', 'Mio', 'Gigster', 'Penny',
       'PullRequest', 'Hivy', 'Whyd', 'Multiply Labs', 'Sudden Coffee',
       'Playment', 'Pave', 'Lumi', 'Locent', 'Pathrise',
       'Interstate Analytics', 'ScopeAI', 'Niles', 'Guggy', 'Bitmovin',
       'Willing', 'Seed', 'LeadGenius', "Players' Lounge", 'Remix',
       'Interviewed', 'Mux', 'Benchling', 'GO1', 'Plivo', 'RedCarpetUp',
       'Theorem LP', 'BlueCrew', 'Enflux', 'Qventus', 'Universe',
       'Armory', 'Bitrise', 'True Link', 'Humi', 'Heap', 'CrowdAI',
       'Tingles', 'Zeus', 'Dealyze', 'Relativity Space', 'DroneBase',
       'Supr Daily', 'Proof', 'Konsus', 'Focal Systems', 'Gemnote',
       'InnerSpace', 'CowryWise', 'Flock Safety', 'SharpestMinds',
       'BuildZoom', 'Airtime', 'RocketLit', 'Whirl', 'Gravitational',
       'Mason', 'Tizeti', 'Astranis', 'Zinc Platform', 'OpenTrons',
       'Fixed', 'One Month', 'GiftRocket', 'Ready For Zero', 'TARA',
       'Shoobs', 'Ambition', 'Fanvibe', 'CodeNow', 'GiveMeTap',
       'Goldbelly', 'Career Karma', 'Yhat', 'AirPair', 'Zidisha',
       'Bountii', 'Booktrope', 'Replika', 'Close', 'Interana',
       'New Story Charity', 'Insight Data Science', 'Grouper', 'Chute',
       'FlightCar', 'Revl', 'Cofactor Genomics', 'Compose', 'Rocketrip',
       'AppHarbor', 'Partnered', 'Backtype', 'Transcriptic', 'Ginza',
       'Flightfox', 'Flotype', 'Lawdingo', 'Popular Pays', 'Amicus',
       'Buttercoin', 'Lawn Love', 'Labdoor', 'Kicksend', 'Taplytics',
       'Shift Labs', 'Beetailer', 'Next Caller', 'Semantics3', 'Siasto',
       'ThinAir', 'AptDeco', 'Aisle50', 'AgileMD', 'Reebee', 'CircuitHub',
       'Screenhero', 'Fridge', 'Arthena', 'Exec', 'AdGrok', 'Aptible',
       'Liftigniter', 'Apozy', 'Naytev', 'Snapjoy', 'Ubiq', 'SigOpt',
       'Vidpresso', 'Smyte', 'Habitat Logistics', 'Source', 'Unbabel',
       'iCracked', 'FileStack', 'ZeroCater', 'Fullstack Academy',
       'Oh My Green', 'Rainforest', 'Magic', 'Lob', 'Cue', 'inDinero',
       'NURX', 'Fivetran', 'CareMessage', 'Panorama Education',
       'All Screen', 'Cardpool', 'Flutter', 'Zencoder', 'Cloudkick',
       'Perfect Audience', '280 North', 'Flightcaster', 'Movity',
       'TalkBin', 'Omnisio', 'Meldium', 'Mertado', 'Appjet',
       'SocialPicks', 'Parakey', 'Divvyshot', 'Auctomatic', 'Echodio',
       'Project Wedding', 'Heysan', 'Etacts', 'Bufferbox', 'Lingt',
       'reMail', 'TextPayMe', 'Sendoid', 'TapEngage', 'GazeHawk',
       'Bitplay', 'Anywhere.FM', 'Stypi', 'Data Marketplace', 'VoiceGem',
       'Hackermeter', 'Kiko', 'Slinkset', 'GraffitiGeo', 'Picwing'],
      dtype=object)