In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://www.ycdb.co/top-companies/funding'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [3]:
[len(t) for t in tr_elements[:15]]

[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [4]:
#Parse table headers

tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rank"
2:"Name"
3:"Batch"
4:"Category"
5:"Description"
6:"Funding"

In [5]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    #if len(T)!=101:
    #    break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [6]:
[len(C) for (title,C) in col]

[100, 100, 100, 100, 100, 100]

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

df['Name'] = df['Name'].str.strip()

In [8]:
df.head()

,Rank,Name,Batch,Category,Description,Funding
0,1,Airbnb,W09,Consumer,Book accommodations around the world,"$6,000.3m"
1,2,Cruise,W14,Transport,Self-driving cars.,"$3,368.8m"
2,3,Instacart,S12,Consumer,Groceries delivered fast.,"$2,095.9m"
3,4,Dropbox,S07,Other SaaS,Backup and share files in the cloud.,"$2,057.2m"
4,5,DoorDash,S13,Consumer,Restaurant delivery.,"$2,000.0m"

In [27]:
df.to_excel('noSoupScrap.xlsx')